name: Update README with Recent Activity

on:
  schedule:
    # Run daily at 00:00 UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update recent activity
        uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "chore: update README with recent activity"
          MAX_LINES: 5
          COMMIT_NAME: "GitHub Actions Bot"
          COMMIT_EMAIL: "actions@github.com"
          TARGET_SECTION: "RECENT-ACTIVITY"
